SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
PADDLE_API_KEY=
PADDLE_WEBHOOK_SECRET=
PADDLE_ENV=sandbox
PADDLE_PRICE_ID_5=
PADDLE_PRICE_ID_10=
PADDLE_PRICE_ID_20=
PADDLE_PRICE_ID_50=
PADDLE_PRICE_ID_100=
VAST_API_KEY=
RUNPOD_API_KEY=
BROKER_SSH_PUBLIC_KEY=
BROKER_SSH_PRIVATE_KEY_PATH=./broker_key
PUBLIC_URL=https://gpu-broker-api.onrender.com
